---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a, a:visited, a:active, a:link {
	text-decoration:none;
  color: red;
  cursor: pointer;
}
a:hover {
  color: inherit;
  // font-weight: bold;
  color: crimson;
  text-decoration: none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

span[contenteditable=true] {
   background: rgba(255,255,255,0.5); /* transparent bg */
 }

 em {font-style: italic;}

 .intro p.center-text {text-align: center;}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{font-size: 6em;}
h2 {  font-size: 4em;}
p{	font-size: 2em;}

@media only screen and (max-width: 500px) {
  h1{font-size: 3em;}
  h2 {  font-size: 2em;}
  p{	font-size: 1em;}
  .section .intro ul {
    font-size: 0.75em;
  }

  #menu li, #menu li.active {
    margin: 5px;
    a {
      padding: 6px 14px;
      display: block;
      font-size: 0.75em;
    }
  }

  .section {
    .intro {
      h1 { margin-bottom: 0px;}
      p{font-size: 0.75em;}
    }
  }
}
.intro {
  h1 {
    margin-bottom: 100px;
  }

  p{
  	width: 50%;
  	margin: 0 auto;
  	font-size: 1.5em;
  }
}
.section{
	text-align:center;

  table {
    width: 67%;
    margin: auto;
    text-align: left;
  }

  #resume-header, #cover-letter-header {
    margin-bottom: -25px;
  }

  #resume-container, #cover-letter-container {
    max-width: 80%;
    width: auto;
    margin: auto;
    overflow: scroll;

    iframe {
      height: 1100px;
      width: 850px;
    }
  }

  @media only screen and (max-width: 500px)  {
    #resume-header, #cover-letter-header {
      margin-top: 150px;
      margin-bottom: 0px;
    }

    iframe {
      display: none;
    }
  }
  #cover-letter-container {
    text-align: left;
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
      font-size: 12px;
      padding-right: 20px;

      ::-webkit-scrollbar { // dislay the scrollabr
          -webkit-appearance: none;
          width: 7px;
      }
      ::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-color: rgba(0,0,0,.5);
          -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
      }
    }
  }
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */
 #faces {
  position:fixed;
  bottom: 10px;
  right:10px;
  z-index: 999;
  width: 100px;
  height: 100px;
  background-image: url("/assets/spider-man-head.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  &.spiderman {
    background-image: url("/assets/B_Face.png");
  }


  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  &:hover {
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
  }

  @media only screen and (min-width: 700px) {
    width: 150px;
    height: 150px;
  }
 }

 /* Sections
 		 * --------------------------------------- */
#section0 {
  background-image: url("/assets/BrendanCoding.jpg");
  background-color:rgba(0, 0, 0, 0.75);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  h1, h2, p {color: white;}
}
 #section0 img,
 #section1 img{
 	margin: 20px 0 0 0;
  z-index: -5;
  opacity: 0.75;
 }
 #section2 img{
 	margin: 20px 0 0 52px;
 }
 // #section3 img{
 // 	bottom: 0px;
 // 	position: absolute;
 // 	margin-left: -420px;
 // }
 .intro p {
 	width: 50%;
 	margin: 0 auto;
 	font-size: 1.5em;
  text-align: left;
 }
 .intro ul {
   width: 50%;
   margin: 0 auto;
   list-style-type: circle;
   text-align: left;
   font-size: 1.25em;
   &.small-text {font-size: 1em;}
 }

 .dark-overlay {
   border-radius: 10px;
   background-color: rgba(0, 0, 0, 0.35);
   // display: inline-block;
   // margin: 0 auto;
   padding: 20px;
   height: 100%;
   position: relative;
   h2 {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translateY(-50%) translateX(-50%);
     width: 100%;

     a {
       font-size: 0.5em;
     }
   }
 }
 .twitter-share-button{
 	position: absolute;
 	z-index: 99;
 	right: 149px;
 	top: 9px;
 }

 #chrome-extension-screenshot {
   width: 75%;
   height: 200px;
   max-width: 750px;
   margin: 0 auto;
   display: inline-block;
   background-image: url("/assets/chrome-extension-screenshot.png");
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
 }

 #peter-parker::after {content: "Personal Hobbies";}
 #origin-story::after {content: "How I Got Here";}
 #super-powers::after {content: "Technical Strengths";}
 #personal-strengths::after {content: "Intangible Strengths";}
 #daily-bugle::after {content: "Some Past Work"}

 .spiderman {
   #peter-parker::after {content: "Peter Parker";}
   #origin-story::after {content: "Origin Story";}
   #super-powers::after {content: "Super Powers - ch 1";}
   #personal-strengths::after {content: "Super Powers - ch 2";}
   #daily-bugle::after {content: "Daily Bugle Headlines"}

   #section0 {
     background-image: url("/assets/Brendan_Spiderman.jpg")
   }

   h1, h2 {
     font-family: 'Bangers', cursive;
   }
 }
